<%provide(:page_title, @photo.title) %>
<%provide(:photo_active, 'active') %>



  <div class="col-sm-12"><img src="<%= @photo.photo_url_original %>"/>
<h1><%= @photo.title %></h1>
   <p><%= @photo.description%></p>

<div class="col-sm-8">
</div>
    </div>

  <!-- <div class="col-sm-8" ><%= @photo.body.html_safe %> -->
</div>
