<nav class="admin-wrapper">
<ul>
<li class="admin-brand">
<%= link_to 'All my photos', users_photos_path %>
</li>
<li class="admin-brand">
<%= link_to 'New photo', new_users_photo_path, class: '' %></li>
</ul>
</nav>