<%provide(:page_title, 'All photos') %>
<%provide(:photo_active, 'active') %>

<div class="container">
  <div>
    <%= link_to 'New photo', new_users_photo_path, class: 'btn btn-primary btn-sm' %>
  </div>
  <div>
    <table class="table">
      <tr>
        <th colspan="4">Title</th>
      </tr>
      <%= render @photos %>
    </table>
  </div>
</div>
