<%provide(:page_title, 'All photos') %>
<%provide(:photo_active, 'active') %>




<%= render 'leftbar' %>

<div id="photos">
        
             <table class="table">
               <tr>
                 <th colspan="4">Title</th>
               </tr>
               <%= render @photos %>
             </table>
           
       </div>