<%provide(:page_title, 'All photos') %>
<%provide(:photo_active, 'active') %>

<div class="row">
  <div>
  <%= link_to 'New photo', new_admin_photo_path, class: 'btn btn-primary btn-sm' %>
  </div>
  <table class="table table-stripe">
    <tr>
      <th colspan="4">Title</th>
    </tr>
    <%= render @photos %>
  </table>
</div>
