html,
body {
  background: #ffffff;
  padding: 0px;
  font-family: 'Varela Round';
  -webkit-font-smoothing: antialiased;
}

a {
  color: #400000;
  transition: all ease-in-out 200ms;
}
a:hover {
  color: #333333;
  text-decoration: none;
}

img {
    width: 100%; /* Set width to 100% */
    margin: auto;
}


h4 { 
 border:0 solid #fff; 
 border-bottom-width:1px;
 padding-bottom:10px;
 text-align: center;
}

.wrapper {
    text-align: center;
}

.form-login {
    background-color: #EDEDED;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color:#d2d2d2;
    border-width: 5px;
    box-shadow:0 1px 0 #cfcfcf;
    width: 300px;
    margin: 0 auto; 

}



.carousel-inner img {
    width: 100%; 
    margin: auto;
}

.carousel-caption h3 {
    color: #fff !important;
}

@media (max-width: 600px) {
    .carousel-caption {
        display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
}

.container {
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
      margin-top: 80px;
}



.admin-wrapper {
    position: absolute;
    top: 3.6em;
    left: 0em;
    width: 14em;
    height: 100%;
    background-color: black;
    padding-top: 10px;
    text-decoration: none;

}

.container.photos{
    margin-left: 220px;
}

.admin-wrapper a {
         color: white;
}

.admin-wrapper ul {
    list-style: none;
}

.admin-brand ul {
    width: 12em;
    list-style: none;
    margin-top: 2em;
    margin-left: 1em;
    padding: 0em;
}

i.navbar {
    border-radius: 0;

    background-color: black;
    .navbar-brand {
        font-weight: bolder;
        .light {
            font-weight: 300;
        }
    }
    .navbar-toggler {
        outline: none;
    }
}


.logo {
  padding: 0px 0;
  font-size: 30px;
  color: #fff;
  font-weight: bold;
}