i.navbar {
    border-radius: 0;

    background-color: black;
    .navbar-brand {
        font-weight: bolder;
        .light {
            font-weight: 300;
        }
    }
    .navbar-toggler {
        outline: none;
    }
}


.logo {
  padding: 0px 0;
  font-size: 30px;
  color: $logo;
  font-weight: bold;
}