.photos.index {
  .card {
    border: none;
    border-radius: 0;
    height: 400px;
    margin-bottom: 0px;
    .card-topper {
      height: 350px;
      width: 100%;
      background-size: cover;
      background-position: center;
      position: relative;


    }

    .card-block {
      position: absolute;
      top: 300px;
      bottom: 0px;
      left: 0;
      width: 100%;
      .btn-read {
        background-color: #000;
        background-color: rgba(255,255,255,0.5);
        color: white;
        border-radius: 0;
        //float: right;
        &:hover {
          background-color: #fff;
        }
      }
      .card-title {
        text-align: left;
        font-size: 2rem;
        a {
          color: black;
          text-decoration: none;
        }
      }
      .published-date {
        font-size: 0.8rem;
        color: #787878;
        font-weight: 300;
        margin-top: 0.3rem;
        margin-bottom: 0.3rem;
      }
      p {
        font-size: 0.9rem;
          //font-family: 'Varela Round';

      }
      
    }
  }
}

$light-gray: #091F59;

.photos.edit, .photos.new {
  .card {
    .card-block {
      background-color: $light-gray;
    }
    .card-title {
      margin-bottom: 0;
      font-size: 18px;
    }
    .list-group-item {
      padding: 10px;
      border-left: 0;
      border-right: 0;
      input[type='text'], textarea {
        font-size: 14px;
        background-color: $light-gray;
      }
      textarea {
        height: 100px;
      }
      &:last-child {
        background-color: $light-gray;
      }
    }
  }
}

@media screen and (min-width: 34em) {
  .photos.index .card {
    height: 440px;
  }
}

/* Medium. Above 48em (768px) */
@media screen and (min-width: 48em) {
  .photos.index .card {
    height: 420px;
  }
}

/* Extra large. Above 75em (1200px) */
@media screen and (min-width: 75em) {
  .photos.index .card {
    height: 415px;
  }
}
